{% extends '_base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Registrace pravidelné aktivity{% endblock %}
{% block head_extra %}{{ form.media }}{% endblock %}

{% block content %}
    <h2>Registrace pravidelné aktivity</h2>
    <hr>
    <p><b>Pozor: Z názvu bude odvozena URL adresa této aktivity. Název lze později kdykoliv upravit, nikoliv však URL adresa.</b></p>
    {% crispy form %}
{% endblock %}

{% block sidebar %}{% include 'dashboard_sidebar.html' %}{% endblock %}

{% block js %}
    <script src="{% static 'js/litepicker.js' %}"></script>
    <script>
    let today = new Date();
    let tomorrow = new Date().setDate(today.getDate() + 1)
    let day_after = new Date().setDate(today.getDate() + 2)

    new Litepicker({
            lang: 'cs',
            singleMode: false,
            tooltipText: {
                one: 'den',
                other: 'dní'
            },
            format: 'DD.MM.YYYY',
            minDays: 2,
            startDate: tomorrow,
            endDate: day_after,
            element: document.getElementById('id_date_from'),
            elementEnd: document.getElementById('id_date_to'),
        });
    </script>
{% endblock %}