{% extends '_base.html' %}

{% block title %}Odstranění aktivity{% endblock %}

{% block content %}
    <h2>Odstranění aktivity</h2>
    <hr>
    <p>Jste si jisti, že chcete odstranit aktivitu "<b>{{ course_name }}</b>"?</p>
    <form method="post">
        {% csrf_token %}
        <button class="btn btn-outline-danger" type="submit"><i class="fas fa-trash me-1"></i> Odstranit</button>
    </form>
{% endblock %}

{% block sidebar %}{% include 'dashboard_sidebar.html' with user_organization=request.user.organization %}{% endblock %}