{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %}{{ course.name }}{% endblock %}

{% block content %}
    <h2>{{ course.name|capfirst }}</h2>
    <hr>
    <div class="row">
        <div class="col-12">
            <p>
                {{ course.description|safe }}
            </p>
        </div>
        <div class="row pt-3">
            <div class="col-6">
                <img src="{{ course.image.url }}" alt="" class="img-fluid">
            </div>
            <div class="col-6">
                <p><b>Doba konání:</b><br>
                    {% if course.is_oneoff %}
                        {{ course.date_from }} - {{ course.date_to|time }}
                    {% else %}
                        od {{ course.date_from|date }}<br>
                        do {{ course.date_to|date }}
                    {% endif %}
                </p>
                <p><b>Cena:</b><br>{{ course.price }} Kč ({{ price_hour }} Kč/hod)</p>
                <p><b>Trvání aktivity:</b><br>{{ course.hours }} hodin</p>
                <p><b>Kapacita:</b><br>{{ course.capacity }} osob</p>
                <p><b>Věková skupina:</b><br>{{ course.age_category }}</p>
                <p><b>Zaměření aktivity:</b><br>
                    {% for topic in course.topic.all %}
                        {{ topic.name }}
                        {% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </p>
            </div>
        </div>
    </div>
{% endblock %}

{% block sidebar %}
    <div class="row align-items-start align-items-lg-center">
        <div class="col-12 col-sm-4 col-lg-12">
            <p><b>Organizuje:</b><br>
                {{ course.organization.name }}<br>
                <a href="{{ course.organization.url }}"
                   class="text-break">{{ course.organization.url }}</a>
            </p>
        </div>
        <div class="col-8 col-sm-4 text-center text-lg-start col-lg-7">
            <p>{% if course.teacher.name %}
                <b>Vedoucí:</b><br>
                {{ course.teacher.name }}<br>
            {% endif %}
                {% if course.teacher.phone %}
                    Telefonní číslo:<br>
                    +420 {% for i in course.teacher.phone %}{{ i }}{% if forloop.counter == 3 or forloop.counter == 6 %}
                {% endif %}{% endfor %}
                {% endif %}
            </p>
        </div>
        <div class="col-4 col-sm-4 col-lg-5">
            {% if course.teacher.photo %}
                <img src="{{ course.teacher.photo.url }}" alt="" class="rounded-circle float-end"
                     style="height: 100px;">
            {% endif %}
        </div>
        <div class="col text-center text-lg-start">
            <p>E-mailová adresa:<br><a href="mailto:{{ course.teacher.email }}"
                                       class="text-break">{{ course.teacher.email }}</a></p>
        </div>
    </div>
    <div class="row">
        <p>Dotaz na vedoucího:</p>
        <form method="post" action="{% url 'course_contact_teacher' course.slug %}">
            {% crispy form %}
            <input class="btn btn-primary" type="submit" value="Odeslat">
        </form>
    </div>
{% endblock %}