{% extends '_base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load catalog_tags %}

{% block title %}{{ course.name|capfirst }}{% endblock %}

{% block content %}
    <div class="row justify-content-center px-3 pt-2">
        <div class="col-12">
            <h2>{{ course.name|capfirst }}</h2>
            <hr>
            <p>{{ course.description|safe }}</p>
            {% with url=course.url %}
                {% if url %}
                    <p><b>URL odkaz:</b><br>
                        <a href="{{ url }}">{{ url }}</a>
                    </p>
                {% endif %}
            {% endwith %}
        </div>
        <div class="row pt-3">
            <div class="col-12 col-md-6 mb-sm-3">
                <div class="position-relative">
                    <img src="{{ course.image.url }}" alt="{{ course.name }}"
                         class="img-fluid mb-4 mb-lg-0 rounded-3">
                    <div class="position-absolute" style="top: 1rem; left: 1rem;">
                        {% if course.category == 'OTHER' %}
                            <img style="height: 50px;" src="{% static 'img/jine.svg' %}"
                                 alt="Ostatní">
                        {% elif course.category == 'LANG' %}
                            <img style="height: 50px;" src="{% static 'img/jazyky.svg' %}"
                                 alt="Jazykové">
                        {% elif course.category == 'ART' %}
                            <img style="height: 50px;" src="{% static 'img/art.svg' %}"
                                 alt="Umělecké">
                        {% elif course.category == 'SPORT' %}
                            <img style="height: 50px;" src="{% static 'img/sport.svg' %}"
                                 alt="Sportovní">
                        {% else %}
                            <img style="height: 50px;" src="{% static 'img/music.svg' %}"
                                 alt="Hudební">
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="row g-3">
                    <div class="col-6"><b>Cena:</b><br>{{ course.price }} Kč <br>({{ price_hour }} Kč/hod)</div>
                    <div class="col-6"><b>Trvání aktivity:</b><br>{{ course.hours }} hodin</div>
                    {% with capacity=course.capacity %}
                        {% if capacity %}
                            <div class="col-6"><b>Kapacita:</b><br>{{ capacity }} osob</div>
                        {% endif %}
                    {% endwith %}
                    <div class="col-6"><b>Věková skupina:</b><br>{{ course.age_category }}</div>
                    <div class="col-12"><b>Zaměření aktivity:</b><br>
                        {% for topic in course.topic.all %}
                            {{ topic.name }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </div>
                    <div class="col-12">
                        <b>Doba konání:</b><br>
                        {% if course.is_oneoff %}
                            {{ course.date_from }} - {{ course.date_to|time }}
                        {% else %}
                            {{ course.date_from|date }} - {{ course.date_to|date }}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% if not course.is_oneoff %}
            <div class="row pt-3 g-2">
                <div class="col-12">
                    <div class="table-responsive-sm">
                        <table class="table table-sm table-bordered text-center">
                            <thead style="height: 80px;">
                            <tr>
                                <th scope="col" style="vertical-align: middle;">Týdenní rozvrh</th>
                                <th scope="col" style="width: 12%; transform: rotate(-45deg); vertical-align: middle;">
                                    Pondělí
                                </th>
                                <th scope="col" style="width: 12%; transform: rotate(-45deg); vertical-align: middle;">
                                    Úterý
                                </th>
                                <th scope="col" style="width: 12%; transform: rotate(-45deg); vertical-align: middle;">
                                    Středa
                                </th>
                                <th scope="col" style="width: 12%; transform: rotate(-45deg); vertical-align: middle;">
                                    Čtvrtek
                                </th>
                                <th scope="col" style="width: 12%; transform: rotate(-45deg); vertical-align: middle;">
                                    Pátek
                                </th>
                                <th scope="col" style="width: 12%; transform: rotate(-45deg); vertical-align: middle;">
                                    Sobota
                                </th>
                                <th scope="col" style="width: 12%; transform: rotate(-45deg); vertical-align: middle;">
                                    Neděle
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for hour, day in schedule.items %}
                                <tr>
                                    <th scope="row">{% convert_hour_block hour %}</th>
                                    {% for i in day %}
                                        <td class="{% if i == 'X' %}bg-success{% else %}bg-white{% endif %}"></td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        {% endif %}
        {% if course.organization == request.user.organization %}
            <div class="d-flex mt-3">
                <div class="me-auto my-auto">
                    {% if course.status == 'PUBLISHED' %}
                        <span class="badge bg-success">Publikováno</span>
                    {% else %}
                        <span class="badge bg-warning">Čeká ke schválení</span>
                    {% endif %}
                </div>
                <div class="ms-auto my-auto">
                    {% if course.is_oneoff %}
                        <a class="btn btn-primary" href="{% url 'oneoff_course_update' course.slug %}">Upravit</a>
                    {% else %}
                        <a class="btn btn-primary" href="{% url 'course_update' course.slug %}">Upravit</a>
                    {% endif %}
                    <a class="btn btn-danger" href="{% url 'course_delete' course.slug %}">Odstranit</a>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block sidebar %}
    <div class="border p-4 bg-light">
        <div class="row align-items-start align-items-lg-center">
            <div class="col-12 text-center text-lg-start col-sm-4 col-lg-12">
                <p><b>Organizuje:</b><br>
                    {{ course.organization.name }}<br>
                    <a href="{{ course.organization.url }}" class="text-break">{{ course.organization.url }}</a>
                </p>
            </div>
            <div class="col-6 col-sm-4 text-center text-lg-start col-lg-7">
                <p>{% if course.teacher.name %}
                    <b>Vedoucí:</b><br>
                    {{ course.teacher.name }}<br>
                {% endif %}
                    {% if course.teacher.phone %}
                        Telefonní číslo:<br>
                        +420
                        {% for i in course.teacher.phone %}{{ i }}{% if forloop.counter == 3 or forloop.counter == 6 %}
                        {% endif %}{% endfor %}
                    {% endif %}
                </p>
            </div>
            <div class="col-6 col-sm-4 col-lg-5">
                {% if course.teacher.photo %}
                    <img src="{{ course.teacher.photo.url }}" alt="" class="rounded-circle float-end"
                         style="height: 100px;">
                {% endif %}
            </div>
            <div class="col text-center text-lg-start">
                <p>E-mailová adresa:<br>
                    <a href="mailto:{{ course.teacher.email }}" class="text-break">{{ course.teacher.email }}</a>
                </p>
            </div>
        </div>
        <div class="row">
            <p>Dotaz na vedoucího:</p>
            <form method="post" action="{% url 'course_contact_teacher' course.slug %}">
                {% crispy form %}
                <input class="btn btn-primary" type="submit" value="Odeslat">
            </form>
        </div>
    </div>
{% endblock %}