{% extends '_base.html' %}

{% block title %}Katalog{% endblock %}

{% block main %}
    <div class="row pb-4">
        {# start of content #}
        <div class="col-12 order-1 order-lg-0 col-lg-8">
            <div class="border p-4 bg-light">
                <h1>Katalog</h1>
                <hr>
                    <p>V katalogu najdete všechny registrované aktivity pohromadě <b>seřazené dle data začátku</b>.
                        Můžete se orientovat podle tematických ikonek nebo přejít do <a href="{% url 'search' %}">vyhledávání</a>.
                    </p>
                {% include 'list.html' with courses=sponsored_courses flag_ads=True %}
                {% include 'list.html' with courses=courses %}
                {% include 'pagination.html' with page=courses custom_page_range=custom_page_range %}
            </div>
        </div>
        {# end of content #}
{#        <div class="col-12 order-0 order-lg-1 col-lg-4 pb-4 pb-lg-0">#}
{#            {% include 'ads.html' %}#}
{#        </div>#}
    </div>
{% endblock %}
