{% extends '_base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Vybrat{% endblock %}

{% block content %}
    <h1>Vybrat</h1>
    <hr>
    <form method="get" id="search-form">
        {% crispy form %}
        <p><input class="btn btn-primary me-2" type="submit" value="Vybrat">
            <input type="button" class="btn btn-danger" value="Vymazat" onclick="resetSearchForm()"></p>
    </form>
    {% if query %}
        <p><b>Nalezeno {{ counter }} výsledků hledání obsahující klíčové slovo "{{ query }}".</b></p>
    {% else %}
        {% if counter %}
            <p><b>Nalezeno {{ counter }} výsledků hledání.</b></p>
        {% else %}
            <p><b>Bohužel jsme nic nenašli.</b></p>
        {% endif %}
    {% endif %}
    {% include 'list.html' with courses=courses %}
    {% include 'pagination.html' with page=courses custom_page_range=custom_page_range %}
{% endblock %}

{% block sidebar %}{% endblock %}

{% block js %}
    <script src="{% static 'js/litepicker.js' %}"></script>
    <script>
        /* reset button */
        function resetSearchForm() {
            document.getElementById("search-form").reset();
            window.location.href = window.location.origin + window.location.pathname;
        }
        /* date picker */
        new Litepicker({
            lang: 'cs',
            singleMode: false,
            tooltipText: {
                one: 'den',
                other: 'dní'
            },
            format: 'DD.MM.YYYY',
            element: document.getElementById('id_date_from'),
            elementEnd: document.getElementById('id_date_to'),
        });
        /* keep expanded if any checkbox is checked */
        let weekDayElement = document.getElementById('collapseRegActivitiesFilter');
        weekDayElement.querySelectorAll('input[type="checkbox"]').forEach(element => {
            if (element.checked) {
                weekDayElement.classList.add('show');
            }
        })
    </script>
{% endblock %}