{% extends '_base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Vybrat{% endblock %}

{% block main %}
    <div class="row pb-4">
        {# start of content #}
        <div class="col-12 order-1 order-lg-0 col-lg-8">
            <div class="border p-4 bg-light">
                <h1>Vybrat</h1>
                <hr>
                <form method="get" id="search-form">
                    {% crispy form %}
                    <p><input class="btn btn-primary me-2" type="submit" value="Vybrat">
                        <input type="button" class="btn btn-danger" value="Vymazat" onclick="resetSearchForm()"></p>
                </form>
                {% if query %}
                    <p><b>Nalezeno {{ counter }} výsledků hledání obsahující klíčové slovo "{{ query }}".</b></p>
                {% else %}
                    {% if counter %}
                        <p><b>Nalezeno {{ counter }} výsledků hledání.</b></p>
                    {% else %}
                        <p><b>Bohužel jsme nic nenašli.</b></p>
                    {% endif %}
                {% endif %}
                {% include 'list.html' with courses=courses %}
                {% include 'pagination.html' with page=courses custom_page_range=custom_page_range %}
            </div>
        </div>
        {# end of content, start of sidebar #}
        <div class="col-12 order-0 order-lg-1 col-lg-4 pb-4 pb-lg-0">
            <div class="border p-4 bg-light">
                Reklamní prostor
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'js/litepicker.js' %}"></script>
    <script>
        /* reset button */
        function resetSearchForm() {
            document.getElementById("search-form").reset();
            window.location.href = window.location.origin + window.location.pathname;
        }

        /* date picker */
        new Litepicker({
            lang: 'cs',
            singleMode: false,
            tooltipText: {
                one: 'den',
                other: 'dní'
            },
            format: 'DD.MM.YYYY',
            element: document.getElementById('id_date_from'),
            elementEnd: document.getElementById('id_date_to'),
        });
        let weekDayElement = document.getElementById('collapseRegActivitiesFilter');

        /* expand advanced regular activity filter if selected */
        document.getElementById('id_is_oneoff').addEventListener("change", function () {
            if (this.value === "0") {
                console.log('Selected');
                weekDayElement.classList.add('show');
            } else {
                console.log('Not selected');
                weekDayElement.classList.remove('show');
                weekDayElement.querySelectorAll('input[type="checkbox"]').forEach(element => {
                    element.checked = false;
                })
            }
        });
        /* keep expanded if any checkbox within is already checked */
        weekDayElement.querySelectorAll('input[type="checkbox"]').forEach(element => {
            if (element.checked) {
                weekDayElement.classList.add('show');
            }
        })
    </script>
{% endblock %}