{% extends '_base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Upravit aktivitu{% endblock %}
{% block head_extra %}
    <link href="{% static 'css/cropper.min.css' %}" rel="stylesheet">
    {{ form.media }}
    <style>
        /* hide asterisk in read-only field */
        #div_id_hours .asteriskField {
            display: none;
        }
    </style>
{% endblock %}

{% block content %}
    <h2>Upravit aktivitu</h2>
    <p><b>Pozor: Pokud upravíte název nebo popis aktivity, bude odeslána k novému schválení a až poté znovu
        publikována.</b></p>
    <hr>
    {% crispy form %}
    <div class="modal fade" id="modalCrop" data-bs-keyboard="false" data-bs-backdrop="static">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Ořezat fotografii</h5>
                    <button type="button" class="btn-close js-cancel" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div style="display: inline-block;">
                        <img src="" id="image_to_crop" style="max-width: 100%;" alt="">
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="btn-group me-auto" role="group">
                        <button type="button" class="btn btn-outline-primary js-zoom-in">
                            <i class="fas fa-search-plus"></i>
                        </button>
                        <button type="button" class="btn btn-outline-primary js-zoom-out">
                            <i class="fas fa-search-minus"></i>
                        </button>
                        <button type="button" class="btn btn-outline-primary js-reset">
                            <i class="fas fa-undo"></i>
                        </button>
                    </div>
                    <button type="button" class="btn btn-danger js-cancel" data-bs-dismiss="modal">Zrušit
                    </button>
                    <button type="button" class="btn btn-primary js-crop" data-bs-dismiss="modal">Ořezat
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block sidebar %}{% include 'dashboard_sidebar.html' %}{% endblock %}

{% block js %}
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'js/cropper.min.js' %}"></script>
    <script>
        $(function () {
            /* script to open the modal with the preview */
            $("#id_image").change(function () {
                if (this.files && this.files[0]) {
                    const reader = new FileReader();
                    reader.onload = function (e) {
                        $("#image_to_crop").attr("src", e.target.result);
                        $("#modalCrop").modal("show");
                    }
                    reader.readAsDataURL(this.files[0]);
                }
            });
            /* scripts to handle the cropper box */
            const $image = $("#image_to_crop");
            let cropBoxData;
            let canvasData;
            $("#modalCrop").on("shown.bs.modal", function () {
                $image.cropper({
                    dragMode: 'move',
                    viewMode: 1,
                    aspectRatio: 1,
                    minCropBoxWidth: 100,
                    minCropBoxHeight: 100,
                    ready: function () {
                        $image.cropper("setCanvasData", canvasData);
                        $image.cropper("setCropBoxData", cropBoxData);
                    }
                });
            }).on("hidden.bs.modal", function () {
                cropBoxData = $image.cropper("getCropBoxData");
                canvasData = $image.cropper("getCanvasData");
                $image.cropper("destroy");
            });
            $(".js-zoom-in").click(function () {
                $image.cropper("zoom", 0.1);
            });
            $(".js-zoom-out").click(function () {
                $image.cropper("zoom", -0.1);
            });
            $(".js-reset").click(function () {
                $image.cropper("reset");
            });
            /* script to collect the data and post to the server */
            $(".js-cancel").click(function () {
                $("#id_x").val('');
                $("#id_y").val('');
                $("#id_height").val('');
                $("#id_width").val('');
                $("#id_image").val('');
            });
            $(".js-crop").click(function () {
                let cropData = $image.cropper("getData");
                $("#id_x").val(cropData["x"]);
                $("#id_y").val(cropData["y"]);
                $("#id_height").val(cropData["height"]);
                $("#id_width").val(cropData["width"]);
            });
        });
    </script>
    <script src="{% static 'js/litepicker.js' %}"></script>
    <script>
        new Litepicker({
            lang: 'cs',
            singleMode: true,
            tooltipText: {
                one: 'den',
                other: 'dní'
            },
            format: 'DD.MM.YYYY',
            startDate: new Date(),
            element: document.getElementById('id_date_from'),
        });
        /* calculate hours */
        let startElement = document.getElementById('id_time_from');
        let endElement = document.getElementById('id_time_to');
        [startElement, endElement].forEach(element => {
            element.addEventListener('input', () => {
                /* care only about time in local TZ */
                let startTime = new Date('1970-01-01T' + startElement.value).getHours();
                let endTime = new Date('1970-01-01T' + endElement.value).getHours();
                let timeDiff = endTime - startTime;
                if (timeDiff < 0) {
                    document.getElementById('id_hours').value = 0
                    startElement.style.color = "red";
                    endElement.style.color = "red";
                }
                if (timeDiff >= 0) {
                    document.getElementById('id_hours').value = endTime - startTime
                    startElement.style.removeProperty('color');
                    endElement.style.removeProperty('color');
                }
            })
        })
    </script>
{% endblock js %}