{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% load i18n %}

{% block head_title %}Změnit heslo{% endblock %}

{% block content %}
    <h1>Změnit heslo</h1>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change mt-3">
        {% crispy form %}
        <p><a href="{% url 'account_reset_password' %}">Zapomenuté heslo?</a></p>
        <button class="btn btn-primary" type="submit">Změnit heslo</button>
    </form>
{% endblock %}

{% block sidebar %}{% include 'dashboard_sidebar.html' %}{% endblock %}