{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% load i18n %}
{% block head_title %}Změnit heslo{% endblock %}

{% block content %}
    <h1>{% if token_fail %}Neplatný odkaz{% else %}Změnit heslo{% endif %}</h1>

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>Odkaz pro resetování hesla je neplatný pravděpodobně proto, že již byl použit.</p>
        <p>Prosím, vyžádejte si nový odkaz <a href="{{ passwd_reset_url }}">kliknutím sem</a>.</p>
    {% else %}
        {% if form %}
            <form method="POST" action="{{ action_url }}" class="my-3">
                {% crispy form %}
                <input class="btn btn-primary" type="submit" name="action" value="Změnit heslo"/>
            </form>
        {% else %}
            <p>Vaše heslo bylo změněno.</p>
        {% endif %}
    {% endif %}
{% endblock %}

{% block sidebar %}{% include 'dashboard_sidebar.html' %}{% endblock %}