{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% load i18n %}
{% load account %}

{% block head_title %}Obnova hesla{% endblock %}

{% block content %}

    <h1>Obnova hesla</h1>
    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>Zapomněli jste heslo? Zadejte prosím svoji e-mailovou adresu a na kterou vám přijde odkaz pro jeho obnovu.</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset my-3">
        {% crispy form %}
        <input class="btn btn-primary" type="submit" value="Vyžádat nové heslo"/>
    </form>

    <p>Prosím, kontaktujte nás, pokud máte jakékoliv potíže s obnovením hesla.</p>
{% endblock %}

{% block sidebar %}{% endblock %}