{% extends "_base.html" %}

{% load i18n %}

{% block title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block content %}
    <h1>{% trans "Verify Your E-mail Address" %}</h1>
    <hr>
    <p>Byl vám zaslán ověřovací e-mail. Následujte odkaz v e-mailu pro dokončení registračního procesu.
        Pokud e-mail do několika minut neobdržíte, neváhejte nás kontaktovat na adrese <a href="mailto:info@vyberaktivitu.online">info@vyberaktivitu.online</a>.</p>
{% endblock %}

{% block sidebar %}{% endblock %}
