body {
    font-family: 'Signika', sans-serif;
}

.alert {
    margin-top: 10px;
    margin-left: 100px;
    margin-right: 100px;
}

a {
    text-decoration: none;
}

/*.asteriskField {*/
/*    display: none;*/
/*}*/

i, .badge {
    bottom: .125em;
    position: relative;
}

.i-extra-padding-left {
    padding-left: 10px;
}

.i-extra-padding-right {
    padding-right: 10px;

}

