/* hide arrows in read-only number input field (firefox) */
input[readonly][type=number] {
    -moz-appearance: textfield;
}

a {
    text-decoration: none;
}

.d-flex-nav-link {
    display: flex; /* establish flex container */
    align-items: center; /* center nav items vertically */
    justify-content: center;
}

/* tinymce */
.tox {
    border-radius: .25rem !important;
}

/* litepicker */
.day-item.is-start-date, .day-item.is-end-date {
    background-color: #a52041 !important;
}

.day-item.is-in-range {
    background-color: #ffaabd !important;
}

.day-item:hover {
    color: #ffaabd !important;
    box-shadow: inset 0 0 0 1px #ffaabd !important;
}
.ribbon {
    position: absolute;
    top: 10px;
    right: -5px;
    padding: 8px;
}
.ribbon.blue {
    background: #311ca7;
    color: #fff;
    border-right: 5px solid #6956d5;
}
.ribbon:before, .ribbon:after {
    content: '';
    position: absolute;
    left: -9px;
    border-left: 10px solid transparent;
}
.ribbon:before {
    top: 0;
}
.ribbon:after {
    bottom: 0;
}
.ribbon.blue:before {
    border-top: 27px solid #311ca7;
}
.ribbon.blue:after {
    border-bottom: 27px solid #311ca7;
}

.ribbon span {
    display: block;
}