body {
    font-family: 'Signika', sans-serif;
}

/* hide arrows in read-only number input field (firefox) */
input[readonly][type=number] {
    -moz-appearance: textfield;
}

a {
    text-decoration: none;
}

.d-flex-nav-link {
    display: flex; /* establish flex container */
    align-items: center; /* center nav items vertically */
    justify-content: center;
}

/* tinymce */
.tox {
    border-radius: .25rem !important;
}

/* litepicker */
.day-item.is-start-date, .day-item.is-end-date {
    background-color: #a52041 !important;
}

.day-item.is-in-range {
    background-color: #ffaabd !important;
}

.day-item:hover {
    color: #ffaabd !important;
    box-shadow: inset 0 0 0 1px #ffaabd !important;
}