// Changing the theme colors
// how to use: sass custom.scss ../css/custom_bootstrap.min.css --style compressed

$primary: #a52041;
$secondary: #6c757d;  
$success: #368700;
$info: #fba529;
$warning: #4a8d8f;
$danger: #ffaabd;
$dark: #1a1414;

@import "../bootstrap/scss/bootstrap.scss";