{% extends '_base.html' %}

{% block title %}Odstranění organizace{% endblock %}

{% block content %}
    <h2>Odstranění organizace</h2>
    <hr>
    <p>Jste si jisti, že se chcete odstranit organizaci <b>{{ user_organization.name }}</b>?</p>
    <form method="post">
        {% csrf_token %}
        <button class="btn btn-outline-danger" type="submit"><i class="fas fa-trash me-1"></i> Odstranit</button>
    </form>
{% endblock %}

{% block sidebar %}{% include 'dashboard_sidebar.html' with user_organization=user_organization %}{% endblock %}