{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %}Pozvánka do organizace{% endblock %}

{% block content %}
    <h2>Pozvánka do organizace</h2>
    <hr>
    <ol>
        <li>Pozvaný uživatel obdrží e-mailem odkaz na stránku s tlačítkem pro přijmutí pozvánky</li>
        <li>Pokud dotyčný uživatel ještě nemá zaregistrovaný účet nebo se zaregistroval s jinou e-mailovou adresou,
            bude po kliknutí na tlačítko přesměrován na registrační stránku a
            po nastavení hesla automaticky přihlášen a přiřazen k vaší organizaci
        </li>
    </ol>
    <p><b>Pozor: Platnost odkazu s pozvánkou je platný pouhé 3 dny.</b></p>
    {% crispy form %}
    <h5>Jak to funguje?</h5>
    <p class="mb-0">Každý vámi pozvaný uživatel získá právo vytvářet a upravovat
        aktivity <b>pod hlavičkou vaší organizace</b> (zobrazí se jako vedoucí aktivity).
        Rovněž může také spravovat aktivity, které mu přidělíte vy jako koordinátor při úpravě stávající aktivity
        či registraci nové. Tento uživatel nemůže provádět úpravy aktivit jiných vedoucích v organizaci,
        protože toto právo je vyhrazeno pouze pro koordinátora (vás).</p>
{% endblock %}

{% block sidebar %}{% include 'dashboard_sidebar.html' %}{% endblock %}