{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %}Členové organizace{% endblock %}

{% block content %}
    <h2>Členové organizace</h2>
    <hr>
    <p>Tato stránka slouží pro přehled členů vaší organizace.
        Přidat členy můžete pomocí e-mailové pozvánky zaslané na adresu dotyčného
        <a href="{% url 'organization_invite_teacher' %}">tímto formulářem</a>.</p>
    {% if members %}
        <p>
        <table class="table align-middle">
            <thead>
            <tr>
                <th scope="col">Jméno</th>
                <th scope="col">E-mail</th>
                <th scope="col">Telefon</th>
                <th scope="col" class="text-end"></th>
            </tr>
            </thead>
            <tbody>
            {% for member in members %}
                <tr>
                    <td>{{ member.name }}</td>
                    <td><a href="mailto:{{ member.email }}" class="text-break">{{ member.email }}</a></td>
                    <td>{% with phone_number=member.phone %}
                        {% if phone_number %}
                            <div class="col-12">
                                <a href="tel:+420{{ phone_number }}">
                                    {% for i in phone_number %}{{ i }}{% if forloop.counter == 3 or forloop.counter == 6 %}
                                        {% endif %}{% endfor %}
                                </a>
                            </div>
                        {% endif %}
                    {% endwith %}
                    </td>
                    <td class="text-end">
                        <a href="{% url 'organization_remove_member' member.pk %}">
                            <i class="fas fa-trash"></i></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </p>
    {% endif %}
    <h5>Jak to funguje?</h5>
    <p class="mb-0">Každý vámi pozvaný uživatel získá právo vytvářet a upravovat
        aktivity <b>pod hlavičkou vaší organizace</b> (zobrazí se jako vedoucí aktivity).
        Rovněž může také spravovat aktivity, které mu přidělíte vy jako koordinátor při úpravě stávající aktivity
        či registraci nové. Tento uživatel nemůže provádět úpravy aktivit jiných vedoucích v organizaci,
        protože toto právo je vyhrazeno pouze pro koordinátora (vás).</p>
{% endblock %}

{% block sidebar %}{% include 'dashboard_sidebar.html' %}{% endblock %}