{% load static %}

<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Vyber aktivitu online{% endblock %}</title>
    <link rel="author" href="{% static 'other/humans.txt' %}"/>
    <link rel="icon" href="{% static 'img/art.svg' %}"/>
    <meta name="keywords"
          content="online aktivita, online kurz, online kroužek, online workshop, webinář, databáze, vyhledávač, dálkové studium">
    <link rel="stylesheet" href="{% static 'css/custom_bootstrap.min.css' %}">
    <script src="https://kit.fontawesome.com/1e9ff6302a.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Signika:wght@300&display=swap" rel="stylesheet">
    {% block head_extra %}{% endblock %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>

<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-md">
        <a class="navbar-brand" href="{% url 'home' %}">
            <img src="{% static 'img/logo.svg' %}" class="ms-3 ms-lg-0" alt="logo" style="height: 50px">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse text-center navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto">
                <li class="nav-item" aria-current="page">
                    <a class="nav-link {% if section == 'search' %}active{% endif %}"
                       href="{% url 'search' %}">Vybrat</a>
                </li>
                <li class="nav-item" aria-current="page">
                    <a class="nav-link {% if section == 'courses' %}active{% endif %}"
                       href="{% url 'course_list' %}">Katalog</a>
                </li>
                <li class="nav-item" aria-current="page">
                    <a class="nav-link {% if section == 'cooperation' %}active{% endif %}"
                       href="{% url 'cooperation' %}">Spolupráce</a>
                </li>
                <li class="nav-item" aria-current="page">
                    <a class="nav-link text-nowrap {% if section == 'about_us' %}active{% endif %}"
                       href="{% url 'about_us' %}">O nás</a>
                </li>
            </ul>
            <!--navbar-right side-->
            <ul class="navbar-nav ms-auto">
                <li class="nav-item" aria-current="page">
                    {% if user.is_authenticated %}
                        <a href="{% url 'dashboard' %}" class="nav-link d-flex-nav-link">
                            <p class="lh-1 m-0 text-nowrap me-3 d-none d-lg-block">
                                <small>Přihlášen jako:</small><br>
                                {% if user.name %}
                                    {{ user.name|title }}
                                {% else %}
                                    {{ user.email }}
                                {% endif %}
                            </p>
                            <i class="fas fa-user-circle fa-lg mb-3 mb-md-0"></i>
                        </a>
                    {% else %}
                        <a href="{% url 'account_login' %}" class="nav-link d-flex-nav-link">
                            <p class="lh-1 m-0 me-3 d-none d-lg-block">
                                Přihlásit se/<br>
                                Registrovat se
                            </p>
                            <i class="fas fa-sign-in-alt fa-lg mb-3 mb-md-0"></i>
                        </a>
                    {% endif %}
                </li>
            </ul>
            <form method="get" class="d-flex ms-0 ms-md-3" action="{% url 'search' %}">
                <label for="id_q"></label>
                <input class="form-control" type="text" name="q" placeholder="Zadejte klíčové slovo" required=""
                       id="id_q">
                <button class="btn btn-primary ms-3" type="submit">Hledat</button>
            </form>
        </div>
    </div>
</nav>
<main class="container-md min-vh-100">
    <!--errors-->
    <div class="row pt-4">
        <div class="col">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert {{ message.tags }} alert-dismissible fade show mb-4" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Zavřít"></button>
                    </div>
                {% endfor %}
            {% endif %}
            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <div class="alert alert-danger alert-dismissible fade show mb-4" role="alert">
                            {% if field.label %}{{ field.label }}: {% endif %}{{ error|escape }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert"
                                    aria-label="Zavřít"></button>
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endif %}
            {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger alert-dismissible fade show mb-4" role="alert">
                        {{ error|escape }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Zavřít"></button>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
    <!--top-content-->
    {% block top %}{% endblock top %}
    <!--main-content-->
    {% block main %}
        <div class="row pb-4">
            <div class="col-12 col-lg-8 pb-4 pb-lg-0">
                <div class="border p-4 bg-light">
                    {% block content %}{% endblock %}
                </div>
            </div>
            <div class="col-12 col-lg-4">
                {% block sidebar %}{% endblock %}
            </div>
        </div>
    {% endblock main %}
</main>
<!--footer-->
<div class="container-fluid">
    <footer class="row bg-light border py-4">
        <div class="col-12 col-md-4 text-center text-md-start">
            <div class="mx-5 mb-0">
                © 2021 vyberaktivitu.online<br>
                <a href="tel:+420602357678">+420 602 357 678</a><br>
                <a href="mailto:info@vyberaktivitu.online">info@vyberaktivitu.online</a>
            </div>
        </div>
        <div class="col-12 col-md-4 align-self-center text-center">
            <div class="my-1 d-flex align-items-center justify-content-center">
                <a href="https://www.facebook.com/VyberAktivituOnline-110275201159420"><i
                        class="fab fa-2x fa-facebook text-secondary"></i>
                </a>
                <a href="{% static 'other/humans.txt' %}">
                    <img src="{% static 'other/humanstxt-isolated-blank.gif' %}" class="mx-1" alt="humans.txt">
                </a>
            </div>
        </div>
        <div class="col-12 col-md-4 align-self-center text-center text-md-end">
            <div class="mx-5 lh-1 mb-0">
                <small>
                    Provozovatelem webu je <span class="text-nowrap">Mgr. Klára Matasová</span>,
                    <span class="text-nowrap">IČ 06963838</span>, fyzická osoba zapsaná v živnostenském rejstříku od
                    19.3. 2018<br>
                    <a href="{% url 'conditions' %}">Podmínky užívání</a><br>
                    <a href="{% url 'gdpr' %}">Zásady ochrany osobních údajů</a>
                </small>
            </div>
        </div>

    </footer>
</div>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
{% block js %}
{% endblock %}
</body>
</html>