{% load static %}
<div class="row justify-content-center gy-4">
    <div class="col-12 col-md-6 col-lg-12 px-4 px-sm-3 py-0">
        <img src="{% static 'img/banner_placeholder.png' %}" alt="ad1" class="img-fluid w-100">
    </div>
    <div class="col-12 col-md-6 col-lg-12 px-4 px-sm-3 d-none d-md-block py-0">
        <img src="{% static 'img/banner_placeholder.png' %}" alt="ad2" class="img-fluid w-100">
    </div>
{#    <div class="col-12 col-md-6 col-lg-12 px-3 d-none d-lg-block py-0">#}
{#        <img src="{% static 'img/banner_placeholder.png' %}" alt="ad3" class="img-fluid w-100">#}
{#    </div>#}
</div>

