{% load static %}
{% for course in courses %}
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-12 col-md-4">
                <div class="position-relative">
                    <a href="{{ course.get_absolute_url }}">
                        <img class="img-fluid card-img" src="{{ course.image.url }}" alt="{{ course.name }}"
                             style="filter: brightness(90%);">
                        {% if course.is_ad and flag_ads %}
                            <div class="ribbon blue"><span>Topováno</span></div>
                        {% endif %}
                        <div class="position-absolute" style="bottom: 1rem; left: 1rem;">
                            <span class="badge bg-light text-muted">{{ course.age_category }}</span>
                        </div>
                        {% if course.organization == request.user.organization %}
                            <div class="position-absolute" style="bottom: 3rem; left: 1rem;">
                                {% if course.status == 'PUBLISHED' %}
                                    <span class="badge bg-success float-end">Publikováno</span>
                                {% else %}
                                    <span class="badge bg-warning float-end">Čeká na schválení</span>
                                {% endif %}
                            </div>
                        {% endif %}
                    </a>
                </div>
            </div>
            <div class="col-12 col-md-8 d-flex p-3">
                <div class="row flex-grow-1">
                    <div class="col-10">
                        <h5 class="mb-0">
                            <a href="{{ course.get_absolute_url }}">{{ course.name|capfirst|truncatewords_html:5 }}</a>
                        </h5>
                        <a href="{% url 'course_list_by_organization' course.organization.slug  %}" class="text-muted mt-2 mb-3 my-lg-0"><small>{{ course.organization.name }}</small></a>
                    </div>
                    <div class="col-2">
                        {% if course.category == 'OTHER' %}
                            <img class="float-end mb-2 mb-md-0" src="{% static 'img/jine.svg' %}" alt="Ostatní">
                        {% elif course.category == 'LANG' %}
                            <img class="float-end mb-2 mb-md-0" src="{% static 'img/jazyky.svg' %}" alt="Jazykové">
                        {% elif course.category == 'ART' %}
                            <img class="float-end mb-2 mb-md-0" src="{% static 'img/art.svg' %}" alt="Umělecké">
                        {% elif course.category == 'SPORT' %}
                            <img class="float-end mb-2 mb-md-0" src="{% static 'img/sport.svg' %}" alt="Sportovní">
                        {% else %}
                            <img class="float-end mb-2 mb-md-0" src="{% static 'img/music.svg' %}" alt="Hudební">
                        {% endif %}
                    </div>
                    <div class="col-12 align-self-center">
                        <p class="mb-0 lh-sm">{{ course.description|striptags|truncatewords_html:25 }}</p>
                    </div>
                    <div class="col-12 align-self-end">
                        <div class="row pt-3 pt-md-0 justify-content-between align-items-end">
                            {# update and delete buttons #}
                            {% if course.organization == request.user.organization %}
                                <div class="col-auto">
                                    {% if course.is_oneoff %}
                                        <a href="{% url 'oneoff_course_update' course.slug %}">
                                            <i class="fas fa-edit"></i>
                                        </a>
                                    {% else %}
                                        <a href="{% url 'course_update' course.slug %}"><i class="fas fa-edit"></i></a>
                                    {% endif %}
                                    <a class="ms-2" href="{% url 'course_delete' course.slug %}"><i class="fas fa-trash"></i></a>
                                </div>
                            {% endif %}
                            <div class="col-auto">
                                    <span class="text-muted">
                                        {% if course.is_oneoff %}
                                            {{ course.date_from|date }}
                                        {% else %}
                                            {{ course.date_from|date:"j.n.Y" }} - {{ course.date_to|date:"j.n.Y" }}
                                        {% endif %}
                                    </span>
                            </div>
                            <div class="col-auto text-muted">
                                {{ course.price }} Kč
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% empty %}
    <p>Wow, such empty...</p>
{% endfor %}