{% extends '_base.html' %}

{% block title %}O nás{% endblock %}

{% block content %}
    <h1>O nás</h1>
    <hr>
    <p>Myšlenka vytvořit vyhledávací katalog pro online aktivity vznikla v době jarního covid lockdownu. Nabídka
        volnočasových aktivit po síti se násobně rozrostla ale nebylo snadné si vybrat to pravé online zpestření volného
        času přesně pro sebe nebo pro své děti.
        Cílem katalogu je usnadnit vybírání a zároveň pomoci s propagací online volnočasových aktivit. Online není jen
        náhrada, je to nová příležitost.
    </p>

    <h5>Kontaktní údaje</h5>
    <hr>
    <div class="row">
        <div class="col-6 col-md-3">
            Provozovatel webu
        </div>
        <div class="col-6 col-md-3">
            Mgr. Klára Matasová, fyzická osoba zapsaná v živnostenském rejstříku od 19.3. 2018
        </div>
    </div>
    <div class="row">
        <div class="col-6 col-md-3">
            Identifikační číslo
        </div>
        <div class="col-6 col-md-3">
            06963838
        </div>
    </div>
    <div class="row">
        <div class="col-6 col-md-3">
            Sídlo
        </div>
        <div class="col-6 col-md-3">
            Kralupy nad Vltavou, sídl. V Zátiší 1006, PSČ 27801
        </div>
    </div>
    <div class="row">
        <div class="col-6 col-md-3">
            Telefon
        </div>
        <div class="col-6 col-md-3">
            <a href="tel:+420602357678">+420 602 357 678</a>
        </div>
    </div>
    <div class="row">
        <div class="col-6 col-md-3">
            E-mailová adresa
        </div>
        <div class="col-6 col-md-3">
            <a href="mailto:info@vyberaktivitu.online" class="text-break">info@vyberaktivitu.online</a>
        </div>
    </div>
{% endblock %}

{% block sidebar %}{% endblock %}