{% extends '_base.html' %}

{% block title %}Podmínky užívání{% endblock %}

{% block content %}
    <div class="row px-3 pt-2" style="text-align: justify;
  text-justify: inter-word;">
        <div class="col">
            <h1>Podmínky užívání</h1>
            <hr>
            <h5>1. Úvodní ustanovení a definice pojmů</h5>
            <ol>
                <li>Provozovatelem vyhledávače je Mgr. Klára Matasová, IČ…..</li>
                <li>Slovem Vyhledávač se v dalším textu rozumí webová stránka dostupný na adrese….</li>
                <li>Inzerentem se rozumí fyzická nebo právnická osoba, která se jakožto Inzerent registruje na webu a
                    vloží si
                    bezplatnou inzerci nebo si objedná inzerci placenou.
                </li>
                <li>Uživatelem se rozumí fyzická nebo právnická osoba, která na vyhledává služby nabízené na
                    Vyhledávači.
                </li>
                <li>Inzertními službami se rozumí propagace služeb Inzerentů na stránkách Vyhledávače– umístění
                    inzerátu,
                    topování,
                    PR
                    článku či banneru.
                </li>
                <li>Obsah inzerátu jsou všechna data nahraná Inzerentem na Vyhledávač– fotografie,url, texty a informace
                    o
                    Inzerentovi.
                </li>
            </ol>
            <h5>2. Pravidla inzerce na Portále</h5>
            <ol>
                <li>Vyhledávač je určen pro registraci volnočasových aktivit probíhajících v online prostředí -
                    provozovatel si
                    vyhrazuje
                    inzeráty jiného zaměření neschválit.
                </li>
                <li>Registrace je v základní verzi bezplatný.</li>
                <li>Mezi placené služby patří topování inzerátu a zobrazení grafického banneru s odkazem na www
                    inzerenta
                    případně
                    uveřejnění PR článku. Ceny placených služeb se řídí aktuálním ceníkem dostupným na …..
                </li>
                <li>Registrací na Vyhledavači inzerent souhlasí s těmito obchodními podmínkami a prohlašuje, že měl
                    možnost se s
                    principy fungování Vyhledávače dobře seznámit, je s nimi plně srozuměn a nemá proti nim výhrad.
                </li>
                <li>Za obsah Registrace zodpovídá Inzerent.</li>
                <li>Inzerent prohlašuje, že je plně oprávněn zadat ke zveřejnění nabídku svých služeb, tedy že je k tomu
                    pověřen
                    pořadatelem aktivity nebo je sám pořadatel.
                </li>
                <li>Inzerent uveřejněním inzerátu prohlašuje, že má právo uveřejnit ve svém inzerátu přiložené
                    fotografie,
                    grafiku a
                    jiné obrázky, má právo disponovat uveřejněnými texty a že se na výše uvedené nevztahují autorská
                    práva
                    třetích
                    stran.
                </li>
                <li>Pro případ uplatnění autorských práv ze strany třetích osob, zejména nároků na odměnu za neoprávněné
                    užití
                    fotografií a jiného obsahu, se Inzerent zavazuje uhradit Provozovateli veškeré náklady vzniklé v
                    souvislosti
                    s
                    tímto
                    porušením autorských práv.
                </li>
                <li>Provozovatel si vyhrazuje právo neschválit jakýkoliv obsah vložený na Vyhledavač Inzerentem a to
                    zejména v
                    případě
                    gramatických chyb, překlepů, nesprávné struktury textů, formátování či rozsahu.
                </li>
                <li>Smazání uživatelského účtu Inzerenta Provozovatelem je možné z výše uvedených důvodů, na žádost
                    Inzerenta
                    (ukončení
                    činnosti apod.) nebo v případě, kdy Inzerent nevloží na Vyhledávač inzerci déle než 3 roky.
                </li>
            </ol>

            <h5>3. Registrace Inzerenta a udělení souhlasu</h5>
            <ol>
                <li>Na stránkách Vyhledávače možné se zaregistrovat pomocí e-mailové adresy. Registrace se provede na
                    adrese……………... a po zadání údajů je nutno účet aktivovat kliknutím na odkaz zaslaný do e-mailu.
                </li>
                <li>Inzerent dává tímto souhlas se zpracováním osobních údajů Provozovatelem za účelem komunikace
                    týkající se
                    inzerce na Vyhledávači.
                </li>
                <li>Osobní údaje inzerenta budou v databázi Vyhledávače po dobu trvání registrace na Vyhledávače.</li>
                <li>Provozovatel nenese zodpovědnost za zneužití uživatelského účtu nebo osobních údajů Inzerenta třetí
                    osobou,
                    pokud Inzerent sdělil svůj uživatelský účet a heslo třetí osobě nebo takové osobě umožnil k údajům
                    přístup.
                </li>
                <li>Uživatelský účet Inzerenta i veškerá vložená inzerce zůstává v databázi vyhledávače do momentu, než
                    je
                    vymaže a) Inzerent b) Provozovatel
                </li>
            </ol>

            <h5>4. Objednávka služeb, ceny a platební podmínky</h5>
            <ol>
                <li>Objednávka placené inzerce probíhá telefonicky nebo e-mailem, obě strany chápou tyto formy
                    objednávky jako
                    závazné.
                </li>
                <li>Na základě objednávky obdrží Inzerent platební údaje a po uhrazení služeb v zákonné lhůtě fakturu za
                    služby
                </li>
                <li>Uhrazením objednávky vzniká mezi Inzerentem a Provozovatelem smluvní vztah. V rámci něj budou obě
                    strany
                    dělat všechny potřebné kroky k tomu, aby bylo možné placené služby realizovat (Inzerent dodá
                    podklady,
                    Provozovatel zveřejní inzerci apod.)
                </li>
                <li>Ceny za služby se řídí aktuálním ceníkem, který je k dispozici n….</li>
            </ol>

            <h5>5. Doba trvání a ukončení inzerce</h5>
            <ol>
                <li>Trvání platnosti Inzerce záleží na dohodě Provozovatele a Inzerenta či typu Inzerce, který Inzerent
                    na
                    Portále využívá.
                </li>
                <li><span class="bg-danger">Inzerce příměstského tábora je aktivní zpravidla do posledního dne konání posledního turnusu tábora.</span>
                </li>
            </ol>

            <h5>6. Závěrečná ustanovení</h5>
            <ol>
                <li>Smluvní vztahy mezi Provozovatelem a Inzerentem se řídí právním řádem České Republiky.</li>
            </ol>

            <i>Podmínky jsou platné od ...</i>
        </div>
    </div>
{% endblock %}


{% block sidebar %}{% endblock %}
