{% extends '_base.html' %}

{% block title %}Spolupráce{% endblock %}

{% block content %}
    <h1>Spolupráce</h1>
    <hr>
    <p>Registrace vašich online kroužků je úplně zdarma. Můžeme vám ale i pomoci být více vidět zveřejněním
        banneru na
        stránce katalogu nebo zviditelněním na našich sociálních sítích. Konkrétní spolupráci domluvíme na
        míru, prosím kontaktujte nás na adrese <a href="mailto:info@vyberaktivitu.online">info@vyberaktivitu.online</a>
    </p>
    <h5>Ceník spolupráce</h5>
    <hr>
    <h6>Umístění banneru na stránce Katalog a Vybrat</h6>
    <ul>
        <li>1. pozice, viditelný vždy vč. na mobilních zařízení - 800 Kč/měsíc</li>
        <li>další pozice - 500 Kč/měsíc</li>
    </ul>
    <h6>Propagace na sítích</h6>
    <ul>
        <li>1. příspěvek - každý nový registrovaný - zdarma</li>
        <li>3 příspěvky - 900 Kč</li>
    </ul>
{% endblock %}

{% block sidebar %}{% endblock %}