{% extends '_base.html' %}

{% block title %}Můj účet{% endblock %}

{% block content %}
    <h1>Můj účet</h1>
    <hr>
    <p>Vítejte,<br>jste přihlášeni jako uživatel <b>{{ request.user.email }}</b>. </p>
    {% if user_organization %}
        <p>Jste koordinátorem organizace <b>{{ user_organization.name }}</b>.</p>
    {% endif %}
    <a class="btn btn-primary" href="{% url 'account_logout' %}">Odhlásit se</a>
{% endblock %}

{% block sidebar %}{% include 'dashboard_sidebar.html' with user_organization=user_organization %}{% endblock %}