{% extends '_base.html' %}

{% block title %}Můj účet{% endblock %}

{% block content %}
    <h1>Můj účet</h1>
    <hr>
    <p>Vítejte, <br>jste přihlášen jako uživatel <b>
        {% if user.name %}
            {{ user.name|title }} ({{ user.email }})
        {% else %}
            {{ user.email }}
        {% endif %}</b></p>
    {% if user_organization %}
        <p>Spravujete aktivity organizace <b>{{ user_organization.name }}</b></p>
        <ul>
            <li>Pro registraci pravidelně konané aktivity (kurzu či kroužku), <a href="{% url 'course_create' %}">klikněte
                prosím zde</a>
            </li>
            <li>Pro registraci jednodenní jednodenní akce, <a href="{% url 'oneoff_course_create' %}">klikněte
                prosím zde</a>
            </li>
            <li>Pro přehlednou správu všech aktivit organizovaných vaší organizací přejděte do <a
                    href="{% url 'course_list_by_organization' user_organization.slug %}">katalogu organizace</a></li>
        </ul>
    {% else %}
        <p>Přejete-li si začít zdarma registrovat aktivity, <a href="{% url 'organization_register' %}">vyplňte prosím
            nejdříve formulář</a> s informacemi o vaší organizaci.</p>
    {% endif %}
    <a class="btn btn-outline-primary" href="{% url 'account_logout' %}">Odhlásit se</a>
{% endblock %}

{% block sidebar %}{% include 'dashboard_sidebar.html' with user_organization=user_organization %}{% endblock %}