{% extends '_base.html' %}

{% block title %}Zásady ochrany osobních údajů{% endblock %}

{% block content %}
    <div class="row px-3 pt-2" style="text-align: justify; text-justify: inter-word;">
        <div class="col">
            <h1>Zásady ochrany osobních údajů</h1>
            <hr>
            <p style="text-indent: 3rem;">Informace o zpracování osobních údajů ve smyslu čl. 12, 13 a 14
                nařízení Evropského parlamentu a rady (EU) č. 2016/679, o ochraně fyzických osob v souvislosti se
                zpracováním osobních údajů a o volném pohybu těchto údajů a o zrušení směrnice 95/46/ES (obecné nařízení
                o ochraně osobních údajů) Mgr. Klára Matasová, IČ 06963838. jakožto správce osobních údajů, tímto
                informuje o způsobu a rozsahu zpracování osobních údajů, včetně rozsahu práv subjektu údajů
                souvisejících se zpracováním jejich osobních údajů. Mgr. Klára Matasová zpracovává osobní údaje v
                souladu s právem Evropské unie, zejména tedy v souladu se Nařízením Evropského parlamentu a rady (EU)
                2016/679 ze dne 27. dubna 2016 o ochraně fyzických osob v souvislosti se zpracováním osobních údajů a o
                volném pohybu těchto údajů a o zrušení směrnice 95/46/ES (dále jen GDPR) a dále v souladu s platnou
                národní legislativou.
            </p>
            <address>Kontaktní údaje: <br>
                <b>Mgr. Klára Matasová <br>
                    Sídlo: Kralupy nad Vltavou, sídl. V Zátiší 1006, PSČ 27801<br>
                    Identifikační číslo: 06963838</b></address>

            <h5>1. K jakým účelům a na základě jakých právních titulů Mgr. Klára Matasová osobní údaje
                zpracovává?</h5>
            <p>Mgr. Klára Matasová zpracovává osobní údaje, které nám svěříte sami, a to z následujících důvodů
                (pro naplnění těchto účelů):</p>
            <ul>
                <li>poskytování služeb, plnění smlouvy - vaše osobní údaje v rozsahu: e-mail, jméno, příjmení,
                    telefon, adresu nezbytně potřebujeme k plnění smlouvy (např. dodání zboží, apod.)
                </li>
                <li>vedení účetnictví - Jste-li zákazníky, vaše osobní údaje (fakturační údaje) nezbytně
                    potřebujeme, abychom vyhověli zákonné povinnosti pro vystavování a evidenci daňových dokladů.
                </li>
                <li>marketing – zasílání newsletterů, sledování aktivity za účelem analýzy pomocí nástroje Google
                    Analytics
                </li>
            </ul>

            <p>Podrobné informace ke zpracování osobních údajů v rámci jednotlivých účelů zpracování naleznete zde.</p>

            <h5>2. Z jakých zdrojů Mgr. Klára Matasová osobní údaje získává?</h5>
            <p>Mgr. Klára Matasová získává osobní údaje výhradně od subjektu údajů.</p>

            <h5>3. Komu Mgr. Klára Matasová osobní údaje poskytuje?</h5>
            <p>Osobní údaje mohou být předány pouze na základě oprávnění uvedeného ve zvláštním právním předpisu
                nebo s prokazatelným souhlasem subjektu údajů.</p>

            <h5>4. Jakým způsobem Mgr. Klára Matasová zajišťuje ochranu osobních údajů?</h5>
            <p style="text-indent: 3rem;">Osobní údaje jsou pod stálou fyzickou, organizační i technickou
                kontrolou. Mgr. Klára Matasová disponuje technickými, bezpečnostními a organizačními opatřeními, jimiž
                je zajištěna ochrana zpracovávaných údajů před neoprávněným přístupem nebo přenosem, před jejich ztrátou
                nebo zničením, jakož i před jiným možným zneužitím.</p>

            <h5>5. Po jakou dobu jsou osobní údaje zpracovávány / uloženy?</h5>
            <p>Vaše osobní údaje si ponecháváme po dobu běhu promlčecích lhůt, pokud zákon nestanoví delší dobu
                k jejich uchování nebo jsme v konkrétních případech neuvedli jinak</p>

            <h5>6. Jaká práva má subjekt údajů v souvislosti se zpracováním osobních údajů?</h5>
            <p>Uplatnit svá práva může subjekt údajů písemně na adrese Mgr. Klára Matasová nebo osobně.</p>
            <h6>Právo na přístup k osobním údajům</h6>
            <p style="text-indent: 3rem;">Subjekt údajů má právo požadovat po Mgr. Klára Matasová, aby mu
                sdělila informaci o tom, zda zpracovává osobní údaje, které se ho týkají. Pokud Mgr. Klára Matasová
                osobní údaje zpracovává, má subjekt údajů právo tyto osobní údaje a informace o zpracování obdržet.
                Informaci ve stanoveném rozsahu (čl. 15 GDPR), případně kopii zpracovávaných osobních údajů, vyhotoví
                Mgr. Klára Matasová bez zbytečného odkladu, maximálně do 30 dnů, ve zvlášť složitých případech až do 90
                dnů od obdržení žádosti. Informace bude předána subjektu údajů v písemné podobě osobně, případně
                doručena do datové schránky nebo prostřednictvím provozovatele poštovních služeb, nebude-li výslovně
                dohodnut jiný způsob doručení. Poskytnutí informace je bezplatné, ovšem pokud by ze strany subjektu
                údajů docházelo ke zneužívání tohoto práva, například prostřednictvím opakovaných žádostí uplatňovaných
                krátce po sobě, je možné žádostem nevyhovět, případně za ně požadovat přiměřený poplatek za vynaložené
                administrativní náklady.</p>

            <h6>Právo na opravu osobních údajů</h6>
            <p style="text-indent: 3rem;">
                Subjekt údajů může požádat o opravu osobních údajů, které se ho týkají, v případě, že jsou
                nepřesné nebo neúplné. Po obdržení žádosti Mgr. Klára Matasová bezodkladně omezí zpracování osobních
                údajů do doby ověření jejich správnosti a provedení případné opravy. Po ověření, případně opravení
                osobních údajů, Mgr. Klára Matasová bezodkladně, maximálně do 30 dnů, ve zvlášť složitých případech až
                do 90 dnů od obdržení žádosti, informuje subjekt údajů o tom, že byla ověřena správnost osobních údajů,
                případně provedena oprava, omezení zpracování bude zrušeno a ve zpracování osobních údajů bude Mgr.
                Klára Matasová dále pokračovat. Informace bude předána subjektu údajů v písemné podobě osobně, případně
                doručena do datové schránky nebo prostřednictvím provozovatele poštovních služeb, nebude-li výslovně
                dohodnut jiný způsob doručení. Poskytnutí informace je bezplatné, ovšem pokud by ze strany subjektu
                údajů docházelo ke zneužívání tohoto práva, zejm. pokud by žádosti byly zjevně nedůvodné nebo
                nepřiměřené, je možné žádostem nevyhovět, případně za ně požadovat přiměřený poplatek za vynaložené
                administrativní náklady. Formulář ke stažení zde (žádost o opravu)
            </p>

            <h6>Právo na výmaz osobních údajů</h6>
            <p>Subjekt údajů může požadovat po Mgr. Klára Matasová, aby zlikvidovala jeho osobní údaje a dále je
                neuchovávala. Mgr. Klára Matasová vymaže osobní údaje za následujících podmínek:</p>
            <ol>
                <li>pokud je již nepotřebuje pro účel, za kterým je shromáždila</li>
                <li>pokud jsou osobní údaje zpracovávány na základě souhlasu se zpracováním osobních údajů a
                    subjekt údajů souhlas odvolá
                </li>
                <li>pokud subjekt vznese námitku proti zpracování osobních údajů a při posouzení vyjde najevo,
                    že v konkrétní situaci převažuje zájem subjektu údajů nad zájmem správce na zpracování osobních
                    údajů
                </li>
                <li>pokud Mgr. Klára Matasová zpracovává osobní údaje protiprávně.</li>
            </ol>
            <p style="text-indent: 3rem;">Mgr. Klára Matasová nevymaže osobní údaje, pokud je zpracování nezbytné pro
                splnění právní povinnosti nebo pro splnění úkolu ve veřejném zájmu nebo při výkonu veřejné moci, kterým
                je Mgr. Klára Matasová pověřena, případně jsou-li splněny další podmínky z výjimky práva na výmaz dle
                čl. 17 odst. 3 GDPR. O provedení (neprovedení) výmazu informuje Mgr. Klára Matasová subjekt údajů
                bezodkladně, maximálně do 30 dnů, ve zvlášť složitých případech až do 90 dnů od obdržení žádosti.
                Informace bude předána subjektu údajů v písemné podobě osobně, případně doručena do datové schránky nebo
                prostřednictvím provozovatele poštovních služeb, nebude-li výslovně dohodnut jiný způsob doručení.
                Poskytnutí informace je bezplatné, ovšem pokud by ze strany subjektu údajů docházelo ke zneužívání
                tohoto práva, zejm. pokud by žádosti byly zjevně nedůvodné nebo nepřiměřené, je možné žádostem
                nevyhovět, případně za ně požadovat přiměřený poplatek za vynaložené administrativní náklady.</p>

            <h6>Právo na omezení zpracování</h6>
            <p>Subjekt údajů může požádat školu, aby omezila zpracování osobních údajů, které se ho týkají, a to
                v následujících případech:</p>
            <ol>
                <li>subjekt údajů popírá přesnost osobních údajů, a to na dobu potřebnou k tomu, aby Mgr. Klára
                    Matasová mohla přesnost osobních údajů ověřit
                </li>
                <li>zpracování je protiprávní a subjekt údajů odmítá výmaz osobních údajů a žádá místo toho o
                    omezení jejich použití
                </li>
                <li>Mgr. Klára Matasová již osobní údaje nepotřebuje pro účely zpracování, ale subjekt údajů je
                    požaduje pro určení, výkon nebo obhajobu právních nároků
                </li>
                <li>subjekt údajů vznesl námitku proti zpracování podle čl. 21 odst. 1, dokud nebude ověřeno,
                    zda oprávněné důvody Mgr. Klára Matasová převažují nad oprávněnými důvody subjektu údajů.
                </li>
            </ol>
            <p style="text-indent: 3rem;">O omezení zpracování osobních údajů Mgr. Klára Matasová bezodkladně,
                maximálně do 30 dnů, ve zvlášť složitých případech až do 90 dnů od obdržení žádosti, informuje subjekt
                údajů. Informace bude předána subjektu údajů v písemné podobě osobně, případně doručena do datové
                schránky nebo prostřednictvím provozovatele poštovních služeb, nebude-li výslovně dohodnut jiný způsob
                doručení. Poskytnutí informace je bezplatné, ovšem pokud by ze strany subjektu údajů docházelo ke
                zneužívání tohoto práva, zejm. pokud by žádosti byly zjevně nedůvodné nebo nepřiměřené, je možné
                žádostem nevyhovět, případně za ně požadovat přiměřený poplatek za vynaložené administrativní náklady.
                Pokud pominou důvody pro omezení zpracování, Mgr. Klára Matasová omezení neprodleně zruší. O zrušení
                omezení bude Mgr. Klára Matasová subjekt údajů dopředu bezodkladně informovat.</p>

            <h6>Právo podat stížnost u dozorového úřadu</h6>
            <p style="text-indent: 3rem;">Subjekt údajů se může obrátit na dozorový úřad se stížností, pokud se
                domnívá, tedy má důvodné podezření, že při zpracování osobních údajů dochází k porušení GDPR. Formulář
                ke stažení zde (stížnost dozorovému orgánu)</p>

            <p style="text-indent: 3rem;">Odhlášení ze zasílání newsletterů a obchodních sdělení
                E-maily s inspirací a nabídkami dalších služeb vám zasíláme jste-li náš zákazník na základě
                našeho oprávněného zájmu. Pokud zákazníkem ještě nejste, posíláme vám je jen na základě vašeho souhlasu.
                V obou případech můžete ukončit odběr našich e-mailů stisknutím odhlašovacího odkazu v každém zaslaném
                e-mailu.</p>


            <h5>Jaké jsou definice základních pojmů užívaných v oblasti ochrany osobních údajů? </h5>
            <ul>
                <li><b>osobní údaj</b> – veškeré informace o identifikované nebo identifikovatelné fyzické
                    osobě; identifikovatelnou fyzickou osobou je fyzická osoba, kterou lze přímo či nepřímo
                    identifikovat, zejména odkazem na určitý identifikátor, například jméno, identifikační číslo,
                    lokační údaje, síťový identifikátor nebo na jeden či více zvláštních prvků fyzické, fyziologické,
                    genetické, psychické, ekonomické, kulturní nebo společenské identity této fyzické osoby
                </li>
                <li><b>subjekt údajů</b> – subjektem údajů je fyzická osoba, k níž se osobní údaje vztahují;
                </li>
                <li>správce – fyzická nebo právnická osoba, orgán veřejné moci, agentura nebo jiný subjekt,
                    který sám nebo společně s jinými určuje účely a prostředky zpracování osobních údajů
                </li>
                <li><b>zpracovatel</b> – fyzická nebo právnická osoba, orgán veřejné moci, agentura nebo jiný
                    subjekt, který zpracovává osobní údaje pro správce
                </li>
                <li><b>příjemce</b> - fyzická nebo právnická osoba, orgán veřejné moci, agentura nebo jiný
                    subjekt, kterým jsou osobní údaje poskytnuty
                </li>
                <li><b>zpracování osobních údajů</b> - jakákoliv operace nebo soubor operací s osobními údaji
                    nebo soubory osobních údajů, který je prováděn pomocí či bez pomoci automatizovaných postupů, jako
                    je shromáždění, zaznamenání, uspořádání, strukturování, uložení, přizpůsobení nebo pozměnění,
                    vyhledání, nahlédnutí, použití, zpřístupnění přenosem, šíření nebo jakékoliv jiné zpřístupnění,
                    seřazení či zkombinování, omezení, výmaz nebo zničení
                </li>
                <li><b>zvláštní kategorie osobních údajů</b> – údaje, které vypovídají o rasovém či etnickém
                    původu, politických názorech, náboženském vyznání či filozofickém přesvědčení nebo členství v
                    odborech, a zpracování genetických údajů, biometrických údajů za účelem jedinečné identifikace
                    fyzické osoby a údajů o zdravotním stavu či o sexuálním životě nebo sexuální orientaci fyzické osoby
                </li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block sidebar %}{% endblock %}