{% extends '_base.html' %}

{% block title %}Doma{% endblock %}

{% block content %}
    <h1>Tady jsem doma</h1>
    <hr>
    <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the
        text, and add your own fullscreen background photo to make it your own.</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias autem culpa cumque dolores error itaque
        laudantium neque nisi, obcaecati omnis perspiciatis placeat quidem quis rerum, sint totam ullam? At autem
        consequuntur ducimus eaque id illum laboriosam minus nulla officia perferendis praesentium quidem, tempora
        tempore, veniam vero! Harum in odit soluta!</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias autem culpa cumque dolores error itaque
        laudantium neque nisi, obcaecati omnis perspiciatis placeat quidem quis rerum, sint totam ullam? At autem
        consequuntur ducimus eaque id illum laboriosam minus nulla officia perferendis praesentium quidem, tempora
        tempore, veniam vero! Harum in odit soluta!</p>

{% endblock %}